      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">2018 基督之家聯合退修會</span></a></h1>
          <h2 style="font-size: 24px;">Summer Retreat 2018 &nbsp;&nbsp; The Home of Christ Churches, Bay Area</h2>
        </div>
       
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="schedule.html">日程表 Schedule</a></li>
          <li><a href="speakersC.html">講員介紹</a></li>
          <li><a href="speakersE.html">Speakers/Workshop Topics</a></li>
          <li><a href="posterE.html">Retreat Poster</a></li>
          <li><a href="videoE.html">Promotional Video</a></li>
        </ul>
      </nav>
